@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 50px;
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
}
.address{
    display: flex;
    margin: 15px 120px;
    padding-right: 10px;
}
.address span{
    color: white;
    padding-right: 10px;
    margin-top: -3px;
}
.address p{
   color: white;
   font-family: arial;
   font-size: 13px;
   padding-right: 10px;
}
.address p i{
    padding-right: 5px;
}
.login{
    display: flex;
    margin: 15px 120px;
    }
.login span{
    color: white;
    padding-right: 10px;
}
.login p{
     color: white;
    font-family: arial;
    font-size: 15px;
    padding-left: 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.login p i{
    font-size: 20px;
    padding-right: 15px;
}
.login:hover .login-drop{
    display: block;
   }
   .login-drop{
       width: 400px;
       height: 500px;
       background-color: white;
       position: absolute;
       margin-top: 30px;
       display: none;
       z-index: 2;
       margin-left: -280px;
   }
   .login-drop h1{
       font-size: 20px;
       color: rgba(0, 0, 0, 0.829);
       font-family: arial;
       text-align: center;
       margin: 20px;
   }
   .input-field input{
       margin: 20px 30px;
       height: 45px;
       width: 320px;
       color: rgba(0, 0, 0, 0.829);
       font-size: 14px;
       font-family: arial;
       padding-left: 10px;
       border: 1px solid rgba(128, 128, 128, 0.349);
       border-radius: 5px;
   }
   .input-field i{
       margin-left: -60px;
   }
   .login-rem{
       margin: 10px 30px;
       display: flex;
       justify-content: space-between;
   }
   .login-rem input{
       color: rgba(0, 0, 0, 0.829);
       font-family: arial;
       font-size: 15px;
   }
   .login-rem p{
       color: rgba(0, 0, 0, 0.829);
       font-family: arial;
       font-size: 14px;
   }
   .login-drop button{
       width: 330px;
       height: 45px;
       font-weight: bold;
       background-color:rgb(121, 187, 21);
       border: none;
       color: white;
       margin: 20px 30px;
   }
   .login-drop button:hover{
       background: none;
       color:green;
       border: 2px solid green;
   }
   .login-drop h5{
       font-size: 14px;
       color: rgba(0, 0, 0, 0.37);
       font-family: arial;
       text-align: center;
       margin: 10px;
       font-weight: lighter;
   }
   .login-icon{
       margin: 20px 30px;
   }
   .login-icon i{
       width: 167px;
       height: 40px;
       background-color: rgba(0, 0, 255, 0.658);
       color: white;
       text-align: center;
       line-height: 38px;
   }
   .login-drop h6{
       font-size: 14px;
       color: rgba(0, 0, 0, 0.37);
       font-family: arial;
       text-align: center;
       margin: 10px;
       font-weight: lighter;
   }
   .login-drop span{
       color: rgb(28, 196, 28);
   }
.navbar{
    width: 100%;
    height: 90px;
    display: flex;
}
.logo img{
    width: 150px;
    height: 150px;
    margin: 0px 100px;
    margin-top: -20px;
}
.logo{
    display: flex;
}
.logo h1{
    margin-left: -100px;
    font-family: "Lobster", sans-serif;
    color: green;
    margin-top: 25px;
}
.logo h1 span{
    color: darkorange;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-left: 320px;
    justify-content:space-around;
}
.nav-menu li{
    padding: 12px 25px;
    position: relative;
}
.nav-menu li::after{
    content: '';
    position: absolute;
    background-color: green;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -25px;
    transition: all 0.5s ease;
}
.nav-menu li:hover::after{
    width: 100%;
}
.nav-menu a{
    text-decoration: none;
    color: dimgrey;
    font-weight: bolder;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
   text-align: center;
   font:caption;
}
.nav-menu a:hover{
   color: green;
}
.nav-icons{
    margin-top: 30px;
    margin-left: 20px;
}
.nav-icons i{
    font-size: 25px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.849);
    text-align: center;
}
.nav-icons i:hover{
    transform: scale(1.1);
    color: green;
}
.drop{
    position: relative;
    z-index: 1;
}
.drpdwn{
    background-color: lightgreen;
    display: block;
    position: absolute;
    margin-top: 33px;
    margin-left: -25px;
    display: none;
    width: 200px;
    height: 120px;
}
.drpdwn a{
    display: block;
    padding: 8px 10px;
    color: black;
    text-align: left;
    width: 150px;
}
.drop:hover .drpdwn{
    display: block;
}
.contact-img img{
    width: 100%;
    height: 500px;
    filter:blur(1px);
    position: relative;
    z-index: -1;
}
.img-txt{
    position: absolute;
    margin-top: -503px; 
    text-align: center;
    color: white;
   background-color: rgba(0, 0, 0, 0.521);
   width: 100%;
   height: 500px;
}
.img-txt h1{
    font-size: 35px;
    font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 80px;
}
.img-txt p{
    font-size: 17px;
    font-family: arial;
    margin-top: 30px;
    line-height: 30px;
}
.img-txt button{
    width: 140px;
    height: 50px;
    font-weight: bold;
    background-color:rgb(121, 187, 21);
    border: none;
    color: white;
    margin-top: 50px;
}
.img-txt button i{
    margin-left: 20px;
    font-size: 18px;
    
}
.img-txt button:hover{
    background: none;
    color:lightgreen;
    border: 1px solid lightgreen;
}
.form-det{
    display: flex;
    margin-top: 50px;
}
.user-det{
    width: 80%;
    margin-left: 80px;
}
.user-det h2{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.822);
    font-family: "Noto Serif", serif;
    font-weight:bold;
    margin-bottom: 20px;
}
.user-det input{
    width: 500px;
    height: 50px;
    margin: 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    font-size: 15px;
    padding-left: 16px;
}
.user-det textarea{
    margin: 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    font-size: 15px;
    padding: 16px;
    font-family: arial;
}
.user-det button{
    width: 518px;
    height: 50px;
    background-color:rgb(121, 187, 21);
    color: white;
    border: none;
    font-weight: bold;
}
.user-det button:hover{
    background: none;
    color:rgb(121, 187, 21);
    border: 2px solid rgb(121, 187, 21);
}
.off-det h2{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.822);
    font-family: "Noto Serif", serif;
    font-weight:bold;
    margin-bottom: 20px;
    margin-left: -120px;
}
.off-info{
    border: 1px solid rgba(128, 128, 128, 0.24);
    margin-left: -120px;
    margin-right: 80px;
    margin-top: 15px;
    width: 600px;
    height: 335px;
}
.off-info p{
    padding: 40px 20px;
    font-size: 15px;
    font-family: arial;
    line-height: 20px;
    color: rgba(128, 128, 128, 0.904);
    font-weight: lighter;
}
.form-map h2{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.822);
    font-family: "Noto Serif", serif;
    font-weight:bold;
    margin-top: 100px;
    text-align: center;
}
.form-map p{
    font-size: 16px;
    font-family: arial;
    line-height: 20px;
    color: rgba(128, 128, 128, 0.904);
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}
.form-map iframe{
    margin-top: 50px;
}
.footer-info{
    display: flex;
    margin: 80px;
}
.footer-info h2{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.822);
    font-family: "Noto Serif", serif;
    font-weight:bold;
    margin-top: 20px;
    position: relative;
}
.footer1 h2::after{
    content: '';
    position: absolute;
    background-color: green;
    height: 1px;
    width:60px;
    left: 0;
    bottom: -2px;
    transition: all 0.5s ease;
}
.footer1 h2:hover::after{
    width: 120px;
}
.footer2 h2::after{
    content: '';
    position: absolute;
    background-color: green;
    height: 1px;
    width:100px;
    left: 0;
    bottom: -2px;
    transition: all 0.5s ease;
}
.footer2 h2:hover::after{
    width: 180px;
}
.footer3 h2::after{
    content: '';
    position: absolute;
    background-color: green;
    height: 1px;
    width:100px;
    left: 0;
    bottom: -2px;
    transition: all 0.5s ease;
}
.footer3 h2:hover::after{
    width: 200px;
}
.footer1 p{
    font-size: 15px;
    font-family: arial;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.699);
    font-weight: lighter;
    margin-top: 20px;
    width: 500px;
}
.footer-icons{
    margin-top: 40px;
}
.footer-icons i{
    border: 1px solid rgba(128, 128, 128, 0.336);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    color: rgba(0, 0, 0, 0.603);
}
.footer2 p{
    font-size: 15px;
    font-family: arial;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.699);
    font-weight: lighter;
    margin-top: 20px;
    width: 300px;
}
.footer3{
    margin-left: 50px;
    width: 300px;
}
.footer-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    cursor: pointer;
}
.footer-img img{
    width: 80px;
    height: 70px;
    padding: 3px;
}
.end-footer{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 100, 0, 0.774);
    text-align: center;
}
.end-footer p{
    font-size: 13px;
    color: white;
    font-family: arial;
    line-height: 50px;
}
@media screen and (max-width:320px) {
    .contact-img img{
        width: 100%;
        height: 500px;
    }
    .img-txt h1{
        font-size: 20px;
    }
    .img-txt p{
        font-size: 13px;
    }
    .img-txt button{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}
